*{
    font-family: sans-serif;
    text-decoration: dimgray;
}

.contenedor{
    
    border-radius: 10px 0px 0px 10px;
    padding:  20px;
    height: 900px;
    background: beige;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1px, 1px;
}

.aida{
    border-radius: 0px 10px 10px 0px;
    padding: 20px 20px 35px 20px;
    height: 886px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px, 100px;
    background: white;

}

body{
    background: rgb(212, 202, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 50%;
    margin: 30px;
    
}
h1{
    color: dimgray;
}

h2{
    color: dimgrey;
}

h3{
    color:dimgray ;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

li{
    font-size: 15px;


}